@font-face {
  font-family: "Sprat Web Black";
  src: url("../src/fonts/sprat-web/SpratBlack.woff2") format("woff2"),
    url("../src/fonts/sprat-web/SpratBlack.woff") format("woff");
}
@font-face {
  font-family: "Sprat Web Regular";
  src: url("../src/fonts/sprat-web/SpratCndRegular.woff") format("woff"),
    url("../src/fonts/sprat-web/SpratCndRegular.woff2") format("woff2");
}

html {
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

:root {
  --lightgrey: #c9c9c9;
  --grey: #808080;
  --purple: #621dfd;
  --green: #00fc96;
}
